// Custom style...
@import './variables';

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */

// Change this breakpoint if you change the breakpoint of the navbar
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bg-indigo {
  background-color: #6574cd !important;
}

.h-5 {
  height: 1.25rem !important;
}

.w-5 {
  height: 1.25rem !important;
}

.flex-1 {
  flex: 1 1 0%;
}

.d1 {
    border: 4px solid red !important;
}
.d2 {
    border: 4px dotted yellow !important;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

.bg-light {
  background: #f3f4f6 !important;
}

.card {
  border-radius: 0.475rem;
  border: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
  width: 220px;
}

.small {
  font-size: .875rem !important;
}


//@media (min-width: 768px)
//body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
//        transition: margin-left .3s ease-in-out;
//        margin-left: 2px;
//    }

.main-header {
    //transition: margin-left .3s ease-in-out;
    //margin-left: 2px !important;
    margin-left: 228px !important;
    //background-color: green !important;
}

.main-header-collapsed {
    //transition: margin-left .3s ease-in-out;
    //margin-left: 2px !important;
    margin-left: 52px !important;
    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
    //background-color: yellow !important;
}

.sidebar {
    border: 2px dotted yellow !important;
    height: 100% !important;
}

.main-footer {
    width: 100% !important;
    padding: 0.4rem !important;
    //margin: 0 !important;

    //padding: 0.8rem 0 0.8rem 0 !important;
    //background-color: yellow !important;
    //border: 2px dotted red !important;
}
.nav-link {
    padding: 0.3rem !important;
}
.active-nav-link {
    padding: 0.3rem !important;
    color: white !important;
    font-weight: bold;
}
// DIFFERENT DEVICES BLOCK START

/* Big Media */

.block_2columns_md {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    @if ($debug_mode) {
        border: 2px dotted yellow;
    }
    width: 100%;
}

.block_2columns_sm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
    @if ($debug_mode) {
        border: 3px solid red;
    }
    width: 100%;

}
.admin_img_preview_wrapper {
    text-align: center !important;
    padding :4px;
    margin :2px;
    border: $admin_border_separator_color;
    max-width: 340px;
    height: auto;
}

.frontend_currency_image {
    //border: 1px dotted gray;
    border: 2px dotted red;
    padding: 2px;
    margin: 5px;
    max-width: 460px;
    height: auto;
}


/* Large ≥992px  ipad pro  */
@media only screen and (min-width: 1280px) { /* Extra large ≥ 1200px  */
    .img_full_width_wrapper {
        max-width: 1080px;
        height: auto;
        padding: 4px;
        margin: 0;
    }

    .flexbox-parent {
        padding-left: 280px !important;
        padding-right: 280px !important;
    }

    .test-device {
        background: url(/images/test-device/exlg.png) center center no-repeat;
        border: 1px dotted #2D27B6;
        margin: 1px;
        min-width: 48px;
        height: 32px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) { /*lg*/

    .img_full_width_wrapper {
        max-width: 820px;
        height: auto;
        padding: 4px;
        margin: 0;
    }

    .flexbox-parent {
        padding-left: 120px !important;
        padding-right: 120px !important;
    }

    .test-device {
        background: url(/images/test-device/lg.png) center center no-repeat;
        border: 1px dotted #2D27B6;
        margin: 1px;
        min-width: 32px;
        height: 32px;
    }
}


/* Medium ≥768px  ipad or ipad mini */
@media only screen and (min-width: 768px) and (max-width: 991px) { /* Ipad Pro md */

    .admin_img_preview_wrapper {
        padding :2px;
        max-width: 440px;
    }

    .img_full_width_wrapper {
        max-width: 600px;
        height: auto;
        padding: 4px;
        margin: 0;
    }

    .block_2columns_md { /* md */
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        @if ($debug_mode) {
            border: 3px solid greenyellow;
        }
        width: 100%;
    }


    .v--modal {
        top: 25px !important;
        left: 25px !important;
        width: 720px !important;
        height: 960px !important;
    }

    .flexbox-parent {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .page_content_container {
        padding: 12px;
    }
    .test-device {
        background: url(/images/test-device/md.png) center center no-repeat;
        border: 1px dotted #2D27B6;
        margin: 1px;
        min-width: 32px;
        height: 32px;
    }

}

/* Small ≥ 576px Nexus7  - sm*/
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .admin_img_preview_wrapper {
        padding :1px;
        max-width: 320px;
    }

    .img_full_width_wrapper {
        max-width: 500px;
        height: auto;
        padding: 4px;
        margin: 0;
    }

    .v--modal {
        top: 20px !important;
        left: 20px !important;
        width: 560px !important;
        height: 920px !important;
    }
    .flexbox-parent {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .page_content_container {
        padding: 8px;
    }
    .block_2columns_md { /* sm */
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        @if ($debug_mode) {
            border: 3px solid greenyellow;
        }
        width: 100%;
    }

    .test-device { /* xs600.png */
        background: url(/images/test-device/sm.png) center center no-repeat;
        border: 1px dotted #2D27B6;
        margin: 1px;
        min-width: 64px;
        height: 32px;
    }
}

/*  Extra small < 576px	iphon5/SE  */
@media only screen and (max-width: 575px) {

    .admin_img_preview_wrapper {
        padding :2px;
        max-width: 300px;
    }

    .img_full_width_wrapper {
        max-width: 260px;
        height: auto;
        padding: 4px;
        margin: 0;
    }
    .v--modal {
        top: 10px !important;
        left: 10px !important;
        width: 300px !important;
        height: 540px !important;
    }

    .flexbox-parent {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    .page_content_container {
        padding: 2px;
        margin: auto;
    }

    .block_2columns_md { /* xs - iphon5/SE */
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        @if ($debug_mode) {
            border: 2px solid blue;
        }
        width: 100%;
    }
    .test-device {
        background: url(/images/test-device/xs.png) center center no-repeat;
        border: 1px dotted #2D27B6;
        margin: 1px;
        min-width: 64px;
        height: auto;
    }
}


// DIFFERENT DEVICES BLOCK END

.horiz_divider_left_13 {
    display: flex;
    justify-self: flex-start;
    flex: 1 1 30px;
    font-weight: normal;
    @if ($debug_mode) {
        border: 2px dotted green;
    }
    width: auto;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.horiz_divider_right_23 {
    justify-self: flex-end;
    flex: 3 1;
    font-weight: normal;
    color: #403941;
    margin: 0;
    padding: 0;
    @if ($debug_mode) {
        border: 2px dotted red;
    }
}

input[type="text"]:disabled {
    background-color: #4f5761 !important;
    color: #a8bccf !important;
}



.btn_remove_right_aligned {
    text-transform: uppercase;
    //border:1px double red !important;
    color : $admin_btn_color !important;
    background-color: red !important;
    float: right;
    cursor: pointer;
}
.btn_remove_right_aligned::hover {
    color: gray;
}

.i_action {
    cursor: pointer;
    //margin-right: 0.3rem;
}

.i_link {
    cursor: pointer;
    //margin-right: 0.3rem;
}

.multiselect {
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    box-shadow: inset 0 0 0 transparent !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;


    background-color: #343A40 !important;
    color: $admin_form_background_color !important;
}

.multiselect-admin-lte {
    color: white !important;

}
.multiselect-search {
    background-color: #343A40 !important;
}
.multiselect-option {
    background-color: #343A40 !important;
    color: white !important;
}


.admin_listing_modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #343A40;*/
    /*background-color: olive !important;*/
}

.admin_listing_modal_header {
    background-color: #0f6d7c;
    color: $admin_text_color;
    /*border-bottom: 2px solid rgba(123,123,123);*/
    border-bottom: 1px solid $admin_text_color;
    /*padding: 0;*/
    padding: 0.5rem 0.5rem;
    margin:0;
    position: relative;
    /*border-top-left-radius: 0.5rem;*/
    /*border-top-right-radius: 0.5rem;*/
}

.admin_listing_modal_footer {
    /*border-top: 1px solid white;*/
    padding: 0.8rem;
    /*background-color: yellow;*/
}

.admin_listing_modal_content {
    position: relative;
    width: 50%;

    margin-left: 4px;
    min-height: 360px;
    /*max-height: 360px;*/
    padding: 0;
    overflow: auto;
    /*background-color: red !important;*/
    background-color: #343A40 !important;
    /*border-radius: 4px;*/

    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    box-shadow: inset 0 0 0 transparent !important;
    /*border: 2px dotted yellow !important;*/


    /*height: 100%;*/
    /*//////////*/
    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    background: rgba(255, 255, 255, .1);

}

/* Medium ≥768px  ipad or ipad mini */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Ipad Pro md */
    .admin_listing_modal_content {
        min-height: 500px;
        /*background-color: yellow !important;*/
    }
}

.admin_listing_modal_close {
    background-color: #0f6d7c;
    color:  $admin_text_color !important;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    /*margin: 4px 4px 0 0;*/
    cursor: pointer;
}

.admin_listing_modal_close::hover {
    color:  $admin_text_color !important;
    background-color: #0f6d7c;
}


.admin_listing_modal_content_editor_form
{
    margin-top:  0.7rem;
    flex: 1; /* same as flex: 1 1 auto; */
    background-color: #343A40;
}

