.multiselect{position:relative;margin:0 auto;width:100%;display:flex;align-items:center;justify-content:flex-end;box-sizing:border-box;cursor:pointer;outline:none;border:var(--ms-border-width,1px) solid var(--ms-border-color,#d1d5db);border-radius:var(--ms-radius,4px);background:var(--ms-bg,#fff);font-size:var(--ms-font-size,1rem);min-height:calc(var(--ms-border-width, 1px)*2 + var(--ms-font-size, 1rem)*var(--ms-line-height, 1.375) + var(--ms-py, .5rem)*2)}.multiselect.is-open{border-radius:var(--ms-radius,4px) var(--ms-radius,4px) 0 0}.multiselect.is-open-top{border-radius:0 0 var(--ms-radius,4px) var(--ms-radius,4px)}.multiselect.is-disabled{cursor:default;background:var(--ms-bg-disabled,#f3f4f6)}.multiselect.is-active{box-shadow:0 0 0 var(--ms-ring-width,3px) var(--ms-ring-color,rgba(16,185,129,.18823529411764706))}.multiselect-multiple-label,.multiselect-placeholder,.multiselect-single-label{display:flex;align-items:center;height:100%;position:absolute;left:0;top:0;pointer-events:none;background:transparent;line-height:var(--ms-line-height,1.375);padding-left:var(--ms-px,.875rem);padding-right:calc(1.25rem + var(--ms-px, .875rem)*3);box-sizing:border-box;max-width:100%}.multiselect-placeholder{color:var(--ms-placeholder-color,#9ca3af)}.multiselect-single-label-text{overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;max-width:100%}.multiselect-search{width:100%;position:absolute;top:0;bottom:0;left:0;right:0;outline:none;box-sizing:border-box;border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:inherit;font-family:inherit;background:var(--ms-bg,#fff);border-radius:var(--ms-radius,4px);padding-left:var(--ms-px,.875rem)}.multiselect-search::-webkit-search-cancel-button,.multiselect-search::-webkit-search-decoration,.multiselect-search::-webkit-search-results-button,.multiselect-search::-webkit-search-results-decoration{-webkit-appearance:none}.multiselect-tags{flex-grow:1;flex-shrink:1;display:flex;flex-wrap:wrap;margin:var(--ms-tag-my,.25rem) 0 0;padding-left:var(--ms-py,.5rem);align-items:center}.multiselect-tag{background:var(--ms-tag-bg,#10b981);color:var(--ms-tag-color,#fff);font-size:var(--ms-tag-font-size,.875rem);line-height:var(--ms-tag-line-height,1.25rem);font-weight:var(--ms-tag-font-weight,600);padding:var(--ms-tag-py,.125rem) 0 var(--ms-tag-py,.125rem) var(--ms-tag-px,.5rem);border-radius:var(--ms-tag-radius,4px);margin-right:var(--ms-tag-mx,.25rem);margin-bottom:var(--ms-tag-my,.25rem);display:flex;align-items:center;white-space:nowrap}.multiselect-tag.is-disabled{padding-right:var(--ms-tag-px,.5rem);background:var(--ms-tag-bg-disabled,#9ca3af);color:var(--ms-tag-color-disabled,#fff)}.multiselect-tag-remove{display:flex;align-items:center;justify-content:center;padding:var(--ms-tag-remove-py,.25rem) var(--ms-tag-remove-px,.25rem);margin:var(--ms-tag-remove-my,0) var(--ms-tag-remove-mx,.125rem);border-radius:var(--ms-tag-remove-radius,4px)}.multiselect-tag-remove:hover{background:rgba(0,0,0,.06274509803921569)}.multiselect-tag-remove-icon{-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");-webkit-mask-position:center;mask-position:center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;background-color:currentColor;opacity:.8;display:inline-block;width:.75rem;height:.75rem}.multiselect-tags-search-wrapper{display:inline-block;position:relative;margin:0 var(--ms-tag-mx,4px) var(--ms-tag-my,4px);flex-grow:1;flex-shrink:1;height:100%}.multiselect-tags-search-copy{visibility:hidden;white-space:pre-wrap;display:inline-block;height:1px;width:100%}.multiselect-tags-search{position:absolute;left:0;right:0;top:0;bottom:0;border:0;-webkit-appearance:none;-moz-appearance:none;outline:none;padding:0;font-size:inherit;font-family:inherit;box-sizing:border-box;width:100%;appearance:none}.multiselect-tags-search::-webkit-search-cancel-button,.multiselect-tags-search::-webkit-search-decoration,.multiselect-tags-search::-webkit-search-results-button,.multiselect-tags-search::-webkit-search-results-decoration{-webkit-appearance:none}.multiselect-spinner{-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'/%3E%3C/svg%3E");-webkit-mask-position:center;mask-position:center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;background-color:var(--ms-spinner-color,#10b981);width:1rem;height:1rem;z-index:10;margin:0 var(--ms-px,.875rem) 0 0;-webkit-animation:multiselect-spin 1s linear infinite;animation:multiselect-spin 1s linear infinite;flex-shrink:0;flex-grow:0}.multiselect-clear{padding:0 var(--ms-px,.875rem) 0 0;position:relative;z-index:10;opacity:1;transition:.3s;flex-shrink:0;flex-grow:0;display:flex}.multiselect-clear:hover .multiselect-clear-icon{background-color:var(--ms-clear-color-hover,#000)}.multiselect-clear-icon{-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");background-color:var(--ms-clear-color,#999);display:inline-block;transition:.3s}.multiselect-caret,.multiselect-clear-icon{-webkit-mask-position:center;mask-position:center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;width:.625rem;height:1.125rem}.multiselect-caret{transform:rotate(0deg);transition:transform .3s;-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");background-color:var(--ms-caret-color,#999);margin:0 var(--ms-px,.875rem) 0 0;position:relative;z-index:10;flex-shrink:0;flex-grow:0;pointer-events:none}.multiselect-caret.is-open{transform:rotate(180deg);pointer-events:auto}.multiselect-dropdown{position:absolute;left:calc(var(--ms-border-width, 1px)*-1);right:calc(var(--ms-border-width, 1px)*-1);bottom:0;transform:translateY(100%);border:var(--ms-dropdown-border-width,1px) solid var(--ms-dropdown-border-color,#d1d5db);margin-top:calc(var(--ms-border-width, 1px)*-1);max-height:15rem;overflow-y:scroll;-webkit-overflow-scrolling:touch;z-index:100;background:var(--ms-dropdown-bg,#fff);display:flex;flex-direction:column;border-radius:0 0 var(--ms-dropdown-radius,4px) var(--ms-dropdown-radius,4px);outline:none}.multiselect-dropdown.is-top{transform:translateY(-100%);top:var(--ms-border-width,1px);bottom:auto;flex-direction:column-reverse;border-radius:var(--ms-dropdown-radius,4px) var(--ms-dropdown-radius,4px) 0 0}.multiselect-dropdown.is-hidden{display:none}.multiselect-options{padding:0;margin:0;list-style:none;display:flex;flex-direction:column;max-height:var(--ms-max-height,10rem)}.multiselect-options.is-top{flex-direction:column-reverse}.multiselect-group{padding:0;margin:0}.multiselect-group-label{padding:var(--ms-group-label-py,.3rem) var(--ms-group-label-px,.75rem);font-size:.875rem;font-weight:600;background:var(--ms-group-label-bg,#e5e7eb);color:var(--ms-group-label-color,#374151);cursor:default;line-height:var(--ms-group-label-line-height,1.375);display:flex;box-sizing:border-box;text-decoration:none;align-items:center;justify-content:flex-start;text-align:left}.multiselect-group-label.is-pointable{cursor:pointer}.multiselect-group-label.is-pointed{background:var(--ms-group-label-bg-pointed,#d1d5db);color:var(--ms-group-label-color-pointed,#374151)}.multiselect-group-label.is-selected{background:var(--ms-group-label-bg-selected,#059669);color:var(--ms-group-label-color-selected,#fff)}.multiselect-group-label.is-disabled{background:var(--ms-group-label-bg-disabled,#f3f4f6);color:var(--ms-group-label-color-disabled,#d1d5db);cursor:not-allowed}.multiselect-group-label.is-selected.is-pointed{background:var(--ms-group-label-bg-selected-pointed,#0c9e70);color:var(--ms-group-label-color-selected-pointed,#fff)}.multiselect-group-label.is-selected.is-disabled{background:var(--ms-group-label-bg-selected-disabled,#75cfb1);color:var(--ms-group-label-color-selected-disabled,#d1fae5)}.multiselect-group-options{padding:0;margin:0}.multiselect-option{padding:var(--ms-option-py,.5rem) var(--ms-option-px,.75rem);font-size:var(--ms-option-font-size,1rem);line-height:var(--ms-option-line-height,1.375);cursor:pointer;display:flex;box-sizing:border-box;text-decoration:none;align-items:center;justify-content:flex-start;text-align:left}.multiselect-option.is-pointed{background:var(--ms-option-bg-pointed,#f3f4f6);color:var(--ms-option-color-pointed,#1f2937)}.multiselect-option.is-selected{background:var(--ms-option-bg-selected,#10b981);color:var(--ms-option-color-selected,#fff)}.multiselect-option.is-disabled{background:var(--ms-option-bg-disabled,#fff);color:var(--ms-option-color-disabled,#d1d5db);cursor:not-allowed}.multiselect-option.is-selected.is-pointed{background:var(--ms-option-bg-selected-pointed,#26c08e);color:var(--ms-option-color-selected-pointed,#fff)}.multiselect-option.is-selected.is-disabled{background:var(--ms-option-bg-selected-disabled,#87dcc0);color:var(--ms-option-color-selected-disabled,#d1fae5)}.multiselect-no-options,.multiselect-no-results{padding:var(--ms-option-py,.5rem) var(--ms-option-px,.75rem);color:var(--ms-empty-color,#4b5563)}.multiselect-fake-input{background:transparent;position:absolute;left:0;right:0;bottom:-1px;width:100%;height:1px;border:0;padding:0;font-size:0;outline:none}.multiselect-fake-input:active,.multiselect-fake-input:focus{outline:none}.multiselect-spacer{display:none}@-webkit-keyframes multiselect-spin{0%{transform:rotate(0)}to{transform:rotate(1turn)}}@keyframes multiselect-spin{0%{transform:rotate(0)}to{transform:rotate(1turn)}}
@charset "UTF-8";
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: ui-sans-serif, Nunito;
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.action_icon {
  cursor: pointer;
}

.icon_right_text_margin {
  margin-right: 3px;
}

.form_processing {
  align-self: center;
  align-items: center;
  background-image: url(/images/big_loading.gif);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin: 2px;
  margin-left: 8px;
  padding: 0;
}

.right_btn_from_left_margin {
  margin-left: 30px !important;
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bg-indigo {
  background-color: #6574cd !important;
}

.h-5 {
  height: 1.25rem !important;
}

.w-5 {
  height: 1.25rem !important;
}

.flex-1 {
  flex: 1 1 0%;
}

.d1 {
  border: 4px solid red !important;
}

.d2 {
  border: 4px dotted yellow !important;
}

.bg-light {
  background: #f3f4f6 !important;
}

.card {
  border-radius: 0.475rem;
  border: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
  width: 220px;
}

.small {
  font-size: 0.875rem !important;
}

.main-header {
  margin-left: 228px !important;
}

.main-header-collapsed {
  margin-left: 52px !important;
  border-bottom: 1px solid #dee2e6;
  z-index: 1034;
}

.layout-fixed {
  height: 100% !important;
}

.dark-mode {
  height: calc(100vh - 55px);
  /* add this */
}

.wrapper, body, html {
  height: 100% !important;
}

.admin-dark-mode {
  background-color: #343a40;
  border-color: #4b545c;
  width: 100% !important;
  padding: 0.4rem !important;
}

.sidebar {
  height: 100vh !important;
  background-color: #343A40 !important;
  color: #a9bdc5 !important;
}

.admin-main-footer {
  background-color: #343A40;
  color: #a9bdc5;
  border-top: 1px solid #dee2e6;
  padding: 0.2rem;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1032;
}

.nav-link {
  padding: 0.3rem !important;
}

.active-nav-link {
  padding: 0.3rem !important;
  color: white !important;
  font-weight: bold;
}

/* Big Media */
.block_2columns_md {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
}

.block_2columns_sm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px;
  width: 100%;
}

.admin_img_preview_wrapper {
  text-align: center !important;
  padding: 4px;
  margin: 2px;
  border: 0.05rem solid #fcfcfc;
  max-width: 340px;
  height: auto;
}

.admin_img_icon_wrapper {
  text-align: center !important;
  padding: 4px;
  margin: 2px;
  border: 0.05rem solid #fcfcfc;
  max-width: auto;
  height: 240px;
}

/* Large ≥992px  ipad pro  */
@media only screen and (min-width: 1280px) {
  /* Extra large ≥ 1200px  */
  .container {
    max-width: 1250px;
  }

  .img_full_width_wrapper {
    max-width: 1080px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .flexbox-parent {
    padding-left: 280px !important;
    padding-right: 280px !important;
  }

  .test-device {
    background: url(/images/test-device/exlg.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 48px;
    height: 32px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  /*lg*/
  .img_full_width_wrapper {
    max-width: 820px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .flexbox-parent {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }

  .test-device {
    background: url(/images/test-device/lg.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 32px;
    height: 32px;
  }
}
/* Medium ≥768px  ipad or ipad mini */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Ipad Pro md */
  .btn_remove_right_aligned {
    float: none !important;
  }

  .admin_listing_modal_content {
    min-height: 500px;
    /*background-color: yellow !important;*/
  }

  .admin_editor_content {
    min-height: 500px;
    /*background-color: yellow !important;*/
  }

  .admin_img_preview_wrapper {
    padding: 2px;
    max-width: 440px;
  }

  .img_full_width_wrapper {
    max-width: 600px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .block_2columns_md {
    /* md */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .v--modal {
    top: 25px !important;
    left: 25px !important;
    width: 720px !important;
    height: 960px !important;
  }

  .flexbox-parent {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .page_content_container {
    padding: 12px;
  }

  .test-device {
    background: url(/images/test-device/md.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 32px;
    height: 32px;
  }
}
/* Small ≥ 576px Nexus7  - sm*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .btn_remove_right_aligned {
    float: none !important;
  }

  .admin_img_preview_wrapper {
    padding: 1px;
    max-width: 320px;
  }

  .img_full_width_wrapper {
    max-width: 500px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .v--modal {
    top: 20px !important;
    left: 20px !important;
    width: 560px !important;
    height: 920px !important;
  }

  .flexbox-parent {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .page_content_container {
    padding: 8px;
  }

  .block_2columns_md {
    /* sm */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .test-device {
    /* xs600.png */
    background: url(/images/test-device/sm.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 64px;
    height: 32px;
  }
}
/*  Extra small < 576px	iphon5/SE  */
@media only screen and (max-width: 575px) {
  .btn_remove_right_aligned {
    float: none !important;
  }

  .admin_img_preview_wrapper {
    padding: 2px;
    max-width: 300px;
  }

  .img_full_width_wrapper {
    max-width: 260px;
    height: auto;
    padding: 4px;
    margin: 0;
  }

  .v--modal {
    top: 10px !important;
    left: 10px !important;
    width: 300px !important;
    height: 540px !important;
  }

  .flexbox-parent {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .page_content_container {
    padding: 2px;
    margin: auto;
  }

  .block_2columns_md {
    /* xs - iphon5/SE */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .test-device {
    background: url(/images/test-device/xs.png) center center no-repeat;
    border: 1px dotted #2D27B6;
    margin: 1px;
    min-width: 64px;
    height: auto;
  }
}
.horiz_divider_left_13 {
  display: flex;
  justify-self: flex-start;
  flex: 1 1 30px;
  font-weight: normal;
  width: auto;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.horiz_divider_right_23 {
  justify-self: flex-end;
  flex: 3 1;
  font-weight: normal;
  color: #403941;
  margin: 0;
  padding: 0;
}

input[type=text]:disabled {
  background-color: #4f5761 !important;
  color: #a8bccf !important;
}

.btn_remove_right_aligned {
  text-transform: uppercase;
  color: #fff !important;
  background-color: red !important;
  float: right;
  cursor: pointer;
}

.btn_remove_right_aligned::hover {
  color: gray;
}

.i_action {
  cursor: pointer;
}

.admin_color {
  color: #a9bdc5 !important;
}

.admin_listing_header {
  color: #a9bdc5 !important;
}

.admin_listing_tr {
  color: #a9bdc5 !important;
}

.admin_editable_label {
  color: #a9bdc5 !important;
  white-space: break-spaces;
}

.admin_editable_input {
  color: #a9bdc5 !important;
}

.admin_listing_modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: $admin_background_color;*/
  /*background-color: olive !important;*/
}

.admin_content_text {
  background-color: #343A40;
  color: #a9bdc5;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  font-family: "Source Sans Pro";
}

.multiselect-search {
  background-color: #343A40;
  color: #a9bdc5;
}

.multiselect-option {
  background-color: #343A40;
  color: #a9bdc5;
}

.admin_multiselect_lte {
  background-color: #343A40;
  color: #a9bdc5;
}

/*
.ql-container .ql-snow {
    font-size: 18px !important;
}
*/
.admin_listing_modal_header {
  background-color: #0f6d7c;
  color: #a9bdc5;
  /*border-bottom: 2px solid rgba(123,123,123);*/
  border-bottom: 1px solid #a9bdc5;
  /*padding: 0;*/
  padding: 0.5rem 0.5rem;
  margin: 0;
  position: relative;
  /*border-top-left-radius: 0.5rem;*/
  /*border-top-right-radius: 0.5rem;*/
}

.admin_listing_modal_footer {
  /*border-top: 1px solid white;*/
  padding: 0.8rem;
  /*background-color: yellow;*/
}

.admin_listing_modal_content {
  position: relative;
  width: 50%;
  margin-left: 4px;
  min-height: 360px;
  /*max-height: 360px;*/
  padding: 0;
  overflow: auto;
  /*background-color: red !important;*/
  background-color: #343A40 !important;
  /*border-radius: 4px;*/
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  box-shadow: inset 0 0 0 transparent !important;
  /*border: 2px dotted yellow !important;*/
  /*height: 100%;*/
  /*//////////*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1);
}

.admin_listing_modal_close {
  background-color: #0f6d7c;
  color: #a9bdc5 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /*margin: 4px 4px 0 0;*/
  cursor: pointer;
}

.admin_listing_modal_close::hover {
  color: #a9bdc5 !important;
  background-color: #0f6d7c;
}

.admin_listing_modal_content_editor_form {
  margin-top: 0.7rem;
  flex: 1;
  /* same as flex: 1 1 auto; */
  background-color: #343A40;
}

.hu-color-picker {
  padding: 10px;
  background: #1d2024;
  border-radius: 4px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.hu-color-picker.light {
  background: #f7f8f9;
}

.hu-color-picker.light .color-show .sucker {
  background: #eceef0;
}

.hu-color-picker.light .color-type .name {
  background: #e7e8e9;
}

.hu-color-picker.light .color-type .value {
  color: #666;
  background: #eceef0;
}

.hu-color-picker.light .colors.history {
  border-top: 1px solid #eee;
}

.hu-color-picker canvas {
  vertical-align: top;
}

.hu-color-picker .color-set {
  display: flex;
}

.hu-color-picker .color-show {
  margin-top: 8px;
  display: flex;
}

.saturation {
  position: relative;
  cursor: pointer;
}

.saturation .slide {
  position: absolute;
  left: 100px;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.color-alpha {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}

.color-alpha .slide {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 4px;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.sucker {
  width: 30px;
  fill: #9099a4;
  background: #2e333a;
  cursor: pointer;
  transition: all 0.3s;
}

.sucker.active, .sucker:hover {
  fill: #1593ff;
}

.hue {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}

.hue .slide {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 4px;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.colors {
  padding: 0;
  margin: 0;
}

.colors.history {
  margin-top: 10px;
  border-top: 1px solid #2e333a;
}

.colors .item {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 10px 0 0 10px;
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  transition: all 0.1s;
  cursor: pointer;
}

.colors .item:nth-child(8n+1) {
  margin-left: 0;
}

.colors .item:hover {
  transform: scale(1.4);
}

.colors .item .alpha {
  height: 100%;
  border-radius: 4px;
}

.colors .item .color {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.color-type {
  display: flex;
  margin-top: 8px;
  font-size: 12px;
}

.color-type .name {
  width: 60px;
  height: 30px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background: #252930;
}

.color-type .value {
  flex: 1;
  height: 30px;
  min-width: 100px;
  padding: 0 12px;
  border: 0;
  color: #fff;
  background: #2e333a;
  box-sizing: border-box;
}

.admin_editor_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: $admin_background_color;*/
  /*background-color: olive !important;*/
}

.admin_editor_header {
  background-color: #0f6d7c;
  color: #a9bdc5;
  /*border-bottom: 2px solid rgba(123,123,123);*/
  border-bottom: 1px solid #a9bdc5;
  /*padding: 0;*/
  padding: 0.5rem 0.5rem;
  margin: 0;
  position: relative;
  /*border-top-left-radius: 0.5rem;*/
  /*border-top-right-radius: 0.5rem;*/
}

.admin_editor_footer {
  /*border-top: 1px solid white;*/
  padding: 0.8rem;
  /*background-color: yellow;*/
}

.admin_editor_content {
  position: relative;
  width: 50%;
  margin-left: 4px;
  min-height: 360px;
  /*max-height: 360px;*/
  padding: 0;
  overflow: auto;
  /*background-color: red !important;*/
  background-color: #343A40 !important;
  /*border-radius: 4px;*/
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  box-shadow: inset 0 0 0 transparent !important;
  /*border: 2px dotted yellow !important;*/
  /*height: 100%;*/
  /*//////////*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1);
}

.admin_editor_close {
  background-color: #0f6d7c;
  color: #a9bdc5 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /*margin: 4px 4px 0 0;*/
  cursor: pointer;
}

.admin_editor_close::hover {
  color: #a9bdc5 !important;
  background-color: #0f6d7c;
}

.admin_editor_content_editor_form {
  margin-top: 0.7rem;
  flex: 1;
  /* same as flex: 1 1 auto; */
  background-color: #343A40;
}

.admin_pagination {
  width: 100%;
  display: flex;
  justify-content: flex-start !important;
  margin: 5px;
  padding: 5px;
  max-width: 1280px;
}

.admin_pagination li {
  list-style: none;
}

.page-link {
  cursor: pointer;
}
